{% extends "layout.twig" %}

{% block content %}
<section class="hero-section">
    <div class="hero-text tiers-text">
        <p>Overpicker is a hero composition calculator inspired in jazzmasta25's <a href="https://www.heropicker.com/">Hero Picker</a></p>
    </div>
</section>
<section class="tiers-section">
    <div class="sources-div">
        <p>The tiers system allows the calculator to quickly pick heroes according to their performance in the last weeks, the tiers presented here are based on the heroes that are currently in the <b>Top500 leaderboard</b> in Overwatch 2, but the calculator has other types of tiers that may be more convenient for you!</p>
     
    </div>
    <div class="tiers-div">
        <h2 class="tiers-tier-s-h2">Tier - S</h2>     
        {% set value = 45 %}   
        <table>
            <thead>
                <tr><td><h3>Hero:</h3></td><td><h3>Role:</h3></td><td><h3>Description:</h3></td></tr>
            </thead>
            <tbody>
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Tank" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Damage" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Support" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
            </tbody>
        </table>        
    </div>
    <div class="tiers-div">
        <h2 class="tiers-tier-a-h2">Tier - A</h2>  
        {% set value = 35 %}
        <table>
            <thead>
                <tr><td><h3>Hero:</h3></td><td><h3>Role:</h3></td><td><h3>Description:</h3></td></tr>
            </thead>
            <tbody>
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Tank" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Damage" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Support" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
            </tbody>
        </table>        
    </div>
    <div class="tiers-div">
        <h2>Tier - B</h2>  
        {% set value = 25 %}
        <table>
            <thead>
                <tr><td><h3>Hero:</h3></td><td><h3>Role:</h3></td><td><h3>Description:</h3></td></tr>
            </thead>
            <tbody>
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Tank" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Damage" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Support" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
            </tbody>
        </table>        
    </div>
    <div class="tiers-div">
        <h2 class="tiers-tier-c-h2">Tier - C</h2>  
        {% set value = 15 %}
        <table>
            <thead>
                <tr><td><h3>Hero:</h3></td><td><h3>Role:</h3></td><td><h3>Description:</h3></td></tr>
            </thead>
            <tbody>
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Tank" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Damage" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Support" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
            </tbody>
        </table>        
    </div>
    <div class="tiers-div">
        <h2 class="tiers-tier-d-h2">Tier - D</h2>  
        {% set value = 5 %}
        <table>
            <thead>
                <tr><td><h3>Hero:</h3></td><td><h3>Role:</h3></td><td><h3>Description:</h3></td></tr>
            </thead>
            <tbody>
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Tank" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Damage" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
                {% for hero in tiers %}
                    {% if hero.value == value and hero.role == "Support" %} <tr><td><h4>{{hero.name}}</h4><img src={{hero.img}} alt="{{hero.name}} profile"></td><td><p>{{hero.role}}</p></td><td><p class="tiers-div-desc">{{hero.description}}</p></td></tr> {% endif %}
                {% endfor %}
            </tbody>
        </table>        
    </div>
</section>
{% endblock %}